<% if !object.empty? %>
    <% object.each do |day| %>
        
        <% day.meetings.each do |meet| %>
            <p>Start Time:<%= meet.start_time.strftime( "%l %M %p")%>  End Time: <%= meet.end_time.strftime( "%l %M %p") %></p>
            <%= button_to "delete", meeting_path(meet.id), :method => "delete", data: { confirm: 'Are you sure?' } %> 

            <br/>
        <%end%>
    <%end%>
<%end%>
