
<% @courses.each do |course| %>
   <h2> <%= course.title %></h2> <p><%= link_to "go to #{course.title}", course_path(course) %></p>
   <h4>Students Enrolled:</h4>
   
   <% if course.students %>
        <% course.students.each do |student| %>
           <p> <%= student.name %></p>
        <%end%>
    <%else%>
            <p>There are no students enrolled yet</p>
    <%end%>
   <p><%= link_to "go to #{course.title}'s schedule", course_meetings_path(course)%></p>
   <br>
<%end%>