<h2><%= @student.name%>'s Courses</h2>
<% @courses.each do |course| %>
   <p> <%= course.title %> <%= link_to "go to #{course.title}", course_path(@course) %></p>
   <p><%= link_to "go to #{course.title}'s schedule", course_meetings_path(@course)%></p>
<%end%>