<h2>Your Required Materials: </h2>
<ul>
<% @materials.each do |mat| %>
    <li><%= mat.item %></li>
    <%= button_to "delete", material_path(mat.id), :method => "delete", data: {confirm: Are you sure?} %>
<%end%>
</ul>